/* faq.css */

.faq-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 55px;
  background: #10114A;
}

.content {
  text-align: center;
  min-height: 486px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header-title .header-tit {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
}

.main-content {
  min-height: 50px;
  min-width: 900px;
}

.faq-item {
  width: 100%;
  min-height: 86px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.faq-question {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-answer {
  display: flex;
  background-color: #d22424;
  padding: 15px;
  border-bottom: 0.5px solid #ffffff3b;
}

@media (min-width:386px) and (max-width: 428px) {
  .faq-container {
    width: 100%;
    padding: 30px 100px;
  }

  .faq-item {
    flex-direction: column;
    align-items: center;
  }

  .accordion{
    width: 100%;
  }

  .main-content {
    min-width: auto;
  }
}

@media (max-width: 428px){
  .faq-container {
    width: 100%;
    padding: 30px 100px;
  }

  .faq-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    min-width: auto;
  }
}

@media (min-width:429px) and (max-width: 767px) {
  .faq-container {
    width: 100%;
    padding: 8px;
  }

  .accordion{
    width: 100%;
  }

  .header-tit{
    font-size: 24px;
  }

  .faq-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    min-width: auto;
  }
}
