.Logo {
    width: 180px;
}

.Navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.059);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sec-navbar {
    display: flex;
    gap: 45px;
    align-items: center;
}

.sec-navbar ul {
    display: flex;
    gap: 25px;
}

.sec-navbar ul li{
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.sec-navbar ul li:hover{
    color: rgb(31, 31, 199);
}
.button2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: medium;
    color: rgb(219, 219, 219);
    z-index: 0;
    background: rgb(58, 58, 199);
  }
  
  

  @media screen  and (max-width: 576px ){
    .Navbar {
        justify-content: space-between;
    }

    .Logo {
        width: 150px;
    }
    .sec-navbar ul {
        display: none;
    }
  }