.Main {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-image: url('../../assets/images/Untitled-2.jpg');
}

.container {
    margin: 0px 174px;
}

.main-infos {
    margin: 120px 0px;

}

.location {
    margin-bottom: 35px;
}

.location_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.main-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.main-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    display: flex;
    align-items: center;
    flex: none;
    color: #ffffff;
}

.subdesc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.button-main {
    padding: 20px 60px;
    background: #FEBC67;
    border-radius: 30px;
    margin-top: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

.owner_picture {
    position: absolute;
}

@media screen and (max-width: 576px) {
    .Main {
        min-height: 150vh;
        display: flex;
        justify-content: center;
        background-image: url('../../assets/images/bgimg.jpg');
        
    }


    .container {
        margin: 0px 34px;
    }

    .main-infos {
        margin: 40px 0px;
    
    }

    .location {
        margin-bottom: 25px;
    }

    .location_name {
        font-weight: 500;
        font-size: 14px;

    }

    .main-subtitle {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .main-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
        display: flex;
        align-items: center;
        flex: none;
        color: #ffffff;
    }

    .subdesc {
        font-weight: 500;
        font-size: 15px;
    }

    .button-main {
        padding: 10px 30px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        border: none;
    }

}